div.a{
    text-align: center;
    position: absolute;
    margin-top:15%;
    max-width: 15%;
    width: 20%;
    margin-left: 40%;
    height:40%;
    background-color: rgb(240, 226, 228);
}
.b{
    padding:20px;
}
.c{
    position: absolute;
    margin-top: 12%;
    text-align: center;
}
.c {
    position: absolute;
    top:0%;
    left: 45%;
}
.b #middlename{
    border: 1px white;
    border-bottom: 1px solid black;
    background-color: rgb(240, 226, 228);

}
.b #lastname{
    border: 1px white;
    border-bottom: 1px solid black;
    background-color: rgb(240, 226, 228);

}
.b #email{
    border: 1px white;
    border-bottom: 1px solid black;
    background-color: rgb(240, 226, 228);

}
.b #password{
    border: 1px white;
    border-bottom: 1px solid black;
    background-color: rgb(240, 226, 228);

}
.b #conform-password{
    border: 1px white;
    border-bottom: 1px solid black;
    background-color: rgb(240, 226, 228);

}
.b #firstname{
    border: 1px white;
    border-bottom: 1px solid black;
    background-color: rgb(240, 226, 228);
}
body{
    background-color:rgb(236, 216, 216);
}
.b #firstname:hover{
    border:1px white;
    border-bottom: 1px solid rgb(146, 100, 219);
}
.b #middlename:hover{
    border: 1px white;
    border-bottom: 1px solid rgb(146, 100, 219); 

}
.b #lastname:hover{
    border: 1px white;
    border-bottom: 1px solid rgb(146, 100, 219);

}
.b #email:hover{
    border: 1px white;
    border-bottom: 1px solid rgb(146, 100, 219);

}
.b #password:hover{
    border: 1px white;
    border-bottom: 1px solid rgb(146, 100, 219);

}
.b #conform-password:hover{
    border: 1px white;
    border-bottom: 1px solid rgb(146, 100, 219);

}
.b #conform-password:focus{
    border: 1px white;
    border-bottom: 1px solid rgb(253, 232, 136);

}