body{
    background-color: azure;
}
.div{
    position: relative;
}
.table{
    width: 20%;
    text-align: center;
    position: absolute;
    top: 120px;
    left: 40%;
    background-color: rgb(201, 235, 236);
}
.a{
    height: 60px;
    background-color: rgb(219, 218, 218);
    text-align:right;
    vertical-align: bottom;
}
.b{
    height: 40px;
    background-color: whitesmoke;
}
button{
    width: 100%;
    height: 45px;
    background-color: whitesmoke;
    border: none;
    font-weight: bold;
}
@media screen and (max-width:1200px) {
    .table{
        width: 25%;
        text-align: center;
        position: absolute;
        top: 120px;
        left: 25%;
        background-color: rgb(201, 235, 236);

}
}
@media screen and (max-width:950px) {
    .table{
        width: 25%;
        text-align: center;
        position: absolute;
        top: 120px;
        left: 5%;
        background-color: rgb(201, 235, 236);

}
}