table{
    border:3px inset rgb(110, 103, 103);
    border-collapse: collapse;
    margin-left: 10%;
    margin-top: 10%;
}
td{
    border:3px inset rgb(194, 149, 149);
    border-collapse: collapse;
}
tr:nth-child(odd) td:nth-child(even){
    background-color: rgb(153, 143, 146);
}
tr:nth-child(even) td:nth-child(odd){
    background-color: rgb(153, 143, 146);
    padding-top: 20%;
}
tr:nth-child(even) td:nth-child(even){
    background-color: rgb(236, 218, 224);
    padding-top: 20%;
}
tr:nth-child(odd) td:nth-child(odd){
    background-color: rgb(236, 218, 224);
}